.form {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    margin: 10px auto;
}

.input-block {
    display: flex;
    flex-direction: column;
}

